.Logo {
    font-size: 80px;
    color: #03009c;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #1fa5ff50;
    color: #185d72;
}

header {
    background-color: #00aeff;
    color: #9c0156;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    padding: 20px;
    background-color: #4696ff;
}

aside {
    flex: 1;
}

article, aside {
    overflow-y: auto;
  }